@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url("normalize.css"); /* Using a url */ 

body {
    background: #808080;
    font-family: 'Anek Latin', sans-serif;
}
.App {
    max-width: 1200px;
    margin: 0 auto;
}

